<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.author }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      
      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% for media in site.social_links %}
          <li>
            <a href={{ media.url }} target="_blank">
              <span class="icon icon-{{ media.name }}">
                {% include social_icons/{{ media.icon }} %}
              </span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        {% include subscribe.html %}
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
