<form
  class="subscribe-form"
  action="https://tinyletter.com/codebikeandmore"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://tinyletter.com/codebikeandmore', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"
>
  <p>
    <input type="hidden" value="1" name="embed"/>
    <input placeholder="your_email@email.com" type="text" style="min-width: 150px; padding: 5px; font-size: 14px;" name="email" id="tlemail" />
    <input type="submit" value="Subscribe" class="subscribe-button" />
  </p>
</form>
